@charset "UTF-8";

/* Estilos gerais para todas as mídias */

.on {
    opacity: 1;
    transition: opacity .5s;
    transition-delay: .2s;
}

.off {
    opacity: 0;
    transition: opacity .5s;
}

.wrapper {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.content {
    position: fixed;
    background: transparent;
    overflow: hidden;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

aside#aside,
div.task {
    margin-bottom: 5%;
    border-radius: 8px;
    overflow: hidden;
}

.first-bg {
    transition: all .5s;
    position: absolute;
}

/* Estilos da descrição das tarefas */

input.task-txt {
    height: 22px;
    border: none;
    border-bottom: 2px solid transparent;
    background: transparent;
    margin-bottom: -5px;
    transition: all .5s;
}

input.task-txt:focus {
    background: transparent;
    outline: none;
    border-bottom: 2px solid var(--Light-Grayish-Blue);
    transition: all .5s;
}

.remove-task {
    cursor: pointer;
}

/* Estilos do botão marcar tarefa como concluída */

.btn-check-disabled {
    cursor: default;
}

.btn-check {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-check span {
    opacity: 0;
    transition: opacity .5s;
}

.btn-check span.checked {
    opacity: 1;
    transition: opacity .5s;
}

.btn-check,
.btn-check-disabled {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: flex;
    border-radius: 50%;
    border: 1px solid var(--Dark-Grayish-Blue);
    position: relative;
}

/* Estilos tema light */

.second-bg {
    transition: all .5s;
    background-color: var(--Very-Light-Grayish-Blue);
    position: absolute;
}

.task {
    transition: all .5s;
    border-bottom: 1px solid var(--Light-Grayish-Blue);
}

.task-txt {
    width: 85%;
    font-size: 16px;
}

.tasks {
    transition: all .5s;
    width: 100%;
    height: calc(100% - 218px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.tasks, div.task, .btn-filters {
    background: var(--Very-Light-Gray);
}

.task,
.tasks,
.btn-filters {
    transition: all .5s;
    margin: auto;
}

/* Estilos tema dark  */
.second-bg.dark {
    background-color: var(--Very-Dark-Blue);
    transition: all .5s;
}

div.task.dark,
.tasks.dark,
.btn-filters.dark {
    background: var(--Very-Dark-Desaturated-Blue);
}

.task.dark,
.tasks.dark,
.btn-filters.dark,
.btn.dark,
input.task-txt.dark,
input.task-txt.dark:focus {
    transition: all .5s;
    color: var(--Light-Grayish-Blue);
}

.task,
.btn-filters {
    width: 92.7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 2.5% 4.2% 5%;
}

.btn-filters {
    border-top: 1px solid var(--Light-Grayish-Blue);
    position: absolute;
    bottom: 0;
}

.btn-filters p,
.btn {
    font-size: .8em;
}

.btn:focus {
    color: var(--Bright-Blue);
}

.btn:hover,
.btn:hover  {
    color: var(--Bright-Blue);
}

/* Fim estilos de tema */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 10
}

.attribution {
    position: absolute;
    bottom: 15px;
    font-size: 12px;
    text-align: center;
    background: #ffffff9d;
    border-radius: 10px;
    padding: 10px;
    margin: auto 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}