@charset "UTF-8";

.on {
    opacity: 1;
    transition: opacity .5s;
    transition-delay: .2s;
}

.off {
    opacity: 0;
    transition: opacity .5s;
}

.btn-check-disabled {
    cursor: default;
}

.btn-check,
.btn-check-disabled {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid var(--Dark-Grayish-Blue);
    position: relative;
}

.btn-check img,
.btn-check-disabled img {
    width: 100%;
    opacity: 0;
    border-radius: 50%;
    background: var(--Check-Background);
}

.checked-icon-img {
    opacity: 1;
}

.task-txt {
    width: 85%;
    font-size: 16px;
}

input.task-txt {
    height: 22px;
    border: none;
    border-bottom: 2px solid transparent;
    background: transparent;
    margin-bottom: -5px;
    transition: all .5s;
}

input.task-txt:focus {
    background: transparent;
    outline: none;
    border-bottom: 2px solid var(--Light-Grayish-Blue);
    transition: all .5s;
}

.remove-task {
    cursor: pointer;
}

aside#aside,
div.task {
    margin-bottom: 5%;
    border-radius: 8px;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.first-bg {
    transition: all .5s;
    position: absolute;
}

.second-bg {
    transition: all .5s;
    background-color: var(--Very-Light-Grayish-Blue);
    position: absolute;
}

.second-bg.dark {
    background-color: var(--Very-Dark-Blue);
    transition: all .5s;
}

/* Estilos light do input tarefa e das tarefas */

.task {
    transition: all .5s;
    border-bottom: 1px solid var(--Light-Grayish-Blue);
}

.tasks {
    transition: all .5s;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.tasks, div.task {
    background: var(--Very-Light-Gray);
}

.task,
.tasks,
.btn-filters {
    transition: all .5s;
    margin: auto;
}

/* Estilos dark do input tarefa e das tarefas */

div.task.dark,
.tasks.dark {
    background: var(--Very-Dark-Desaturated-Blue);
}

.task.dark,
.tasks.dark,
.btn-filters.dark,
.btn.dark,
input.task-txt.dark,
input.task-txt.dark:focus {
    transition: all .5s;
    color: var(--Light-Grayish-Blue);
}

.task,
.btn-filters {
    width: 92.7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 2.4% 4% 5%;
}

.btn-filters {
    border-top: 1px solid var(--Light-Grayish-Blue);
    position: absolute;
    bottom: 0;
}

.btn-filters p,
.btn {
    font-size: .8em;
}

.btn:focus {
    color: var(--Bright-Blue);
}

.btn:hover,
.btn:hover  {
    color: var(--Bright-Blue);
}

/* Fim estilos de tema */

.attribution {
    position: absolute;
    bottom: 15px;
    font-size: 12px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}