@charset "UTF-8";

.content {
    width: 500px;
    height: 600px;
    top: 8%;
}

.first-bg {
    background: url(../images/bg-desktop-light.jpg);
    width: 1440px;
    height: 291.656px;
}

.second-bg {
    top: 291.656px;
    width: 1440px;
    height: calc(100vh - 295px);
}

